@import '../variables/default.scss';

.footer {
    padding-bottom: 31px;

    &__body {

        text-align: center;
        font-family: Rubik;
        font-size: 15px;
        font-weight: 300;
        color: $mainColor;
    }
}

@media screen and(max-width:640px) {
    .footer {
        padding-bottom: 60px;
    }
}